@import 'variables.scss';

@import 'shared/header.scss';
@import 'shared/footer.scss';
@import 'login/login.scss';
@import 'register/register.scss';
@import 'profile/profile.scss';
@import 'wall/wall.scss';
@import 'conversations/conversations.scss';


body, html{
	background: lighten($main-color-light,2%)!important;
	height: 100%

}

.btn{
		background: $main-color-blue!important;
		color: #fff!important;
}

.dropdown-menu{
	min-width: 300px!important;
	.dropdown-item{
		border-bottom: 1px solid grey;
	}
}


