@import 'variables.scss';

@import 'shared/header.scss';
@import 'shared/footer.scss';
@import 'login/login.scss';
@import 'register/register.scss';

body{
	background: $main-color-light!important;
}

.btn{
		background: $main-color-blue!important;
		color: #fff!important;
}
