
.profile{
    background: white!important;
}

.chart {
    position: relative;
    text-align: center;
}

.chart canvas {
    display: block;
    margin: 0px auto;
}

.chart span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -12px;
    color: #999;
}

.parallax {
  background-image: url('https://miro.medium.com/max/3614/1*lLNHg_D0ehCHzRLXgpglMA.png');

  height: 100%;
  min-height: 300px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.people-nearby .nearby-user{
  padding: 20px 0;
  border-top: 1px solid #f1f2f2;
  border-bottom: 1px solid #f1f2f2;
  margin-bottom: 20px;
}

img.profile-photo-lg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}