
.profile{
    background: white!important;
}

.chart {
    position: relative;
    text-align: center;
}

.chart canvas {
    display: block;
    margin: 0px auto;
}

.chart span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -12px;
    color: #999;
}

.parallax {
  /* The image used */
  background-image: url('https://mobirise.com/bootstrap-4-theme/assets/images/mbr-6.jpg');

  /* Full height */
  height: 100%;
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}