
.profile{
    background: white!important;
}

.chart {
    position: relative;
    text-align: center;
}

.chart canvas {
    display: block;
    margin: 0px auto;
}

.chart span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -12px;
    color: #999;
}